.choose {
    margin-bottom: 350px;

    &__container {
        width: 1240px;
        position: relative;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        padding-top: 100px;
        padding-bottom: 317px;
        color: #FEFCF7;
        background-color: #2c343e;
        border-radius: 10px;
    }

    &__heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    &__text {
        width: 540px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin: 0;
        padding: 0;
    }

    &__list {
        width: 1110px;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: -151px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        background: #0E8784;
        border-radius: 8px;
        margin-right: 30px;
    }

    &__item-img-wrapper {
        margin-left: 135px;
        margin-top: 72px;
        margin-bottom: 55px;
    }

    &__item:nth-child(1) &__item-img-wrapper {
        width: 72px;
        height: 72px;
        background-image: url("./../image/coffee-bean.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item:nth-child(2) &__item-img-wrapper {
        width: 72px;
        height: 72px;
        background-image: url("./../image/prize.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item:nth-child(3) &__item-img-wrapper {
        width: 72px;
        height: 50px;
        background-image: url("./../image/car.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 70px;
    }

    &__item:last-child {
        margin: 0;
    }

    &__item-wrapper {
        padding: 0 48px 48px 48px;
    }

    &__item-heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
    }

    &__item-text {
        width: 255px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {

    .choose {

		&__container {
            max-width: 689px;
            width: 100%;
		}

		&__wrapper {
            margin-bottom: 70px;
            padding: 56px 0 368px 0;
		}

		&__heading {
		}

		&__text {
		}

		&__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: -275px;
		}

        &__item {
            margin: 0;
            padding: 0;
            padding: 41px 48px 41px 70px;
        }

		&__item {
            max-width: 573px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
		}

        &__item:nth-child(1) &__item-img-wrapper {
            width: 56px;
            height: 56px;
            background-size: contain;
        }
    
        &__item:nth-child(2) &__item-img-wrapper {
            width: 56px;
            height: 56px;
            background-size: contain;
        }
    
        &__item:nth-child(3) &__item-img-wrapper {
            width: 56px;
            height: 39px;
            background-size: contain;
        }

		&__item-wrapper {
            max-width: 345px;
            width: 100%;
            padding: 0;
		}

		&__item-heading {
            text-align: left;
            margin-bottom: 16px;
		}

		&__item-text {
            max-width: 345px;
            width: 100%;
            text-align: left;
            font-size: 15px;
            line-height: 25px;
		}

        &__item-img-wrapper {
            margin: 0;
            padding: 0;
        }
    }

}

@media screen and (max-width: 600px) {

    .choose {

        margin-bottom: 717px;
        
		&__container {
            max-width: 327px;
            width: 100%;
		}

		&__wrapper {
            max-width: 327px;
            width: 100%;
            padding-bottom: 660px;
		}

		&__heading {
            font-size: 28px;
            line-height: 28px;
		}

		&__text {
            max-width: 279px;
            width: 100%;
            font-size: 15px;
            line-height: 25px;
		}

		&__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 590px;
		}

        &__item {
            max-width: 279px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 72px 12px 50px 12px;
        }

        &__item-img-wrapper {
            margin: 0;
            padding: 0;
            margin-bottom: 56px;
        }

        &__item:nth-child(1) &__item-img-wrapper {
            width: 72px;
            height: 72px;
            background-size: contain;
        }
    
        &__item:nth-child(2) &__item-img-wrapper {
            width: 72px;
            height: 72px;
            background-size: contain;
        }
    
        &__item:nth-child(3) &__item-img-wrapper {
            width: 72px;
            height: 50px;
            background-size: contain;
        }

		&__item-wrapper {
            max-width: 255px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
		}

		&__item-heading {
            text-align: center;
            margin-bottom: 16px;
            margin-bottom: 25px;
		}

		&__item-text {
            max-width: 212px;
            width: 100%;
            text-align: center;
            font-size: 15px;
            line-height: 25px;
		}

        
    }

}